.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;

    h2 {
        font-size: 3em;
        clip-path: inset(0 0 0 0);
    }

    h3 {
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 20px;
        clip-path: inset(0 0 0 0);
    }

    p {
        font-size: 14px;
        line-height: 25px;
    }

    .btn {
        display: inline-block;
        background: #D42990;
        padding: 10px 16px;
        border-radius: 10px;
        font-weight: 500;
    }

    .imgWrapper {
        display: flex;
        justify-content: flex-end;

        img {
            width: 75%;
            margin-right: 0;
        }
    }


}